.contact-background {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url('../../Assets/contactImg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.contact-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    flex-direction: row;
}
.contact_leftSide {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.contact_rightside {
    display: flex;
}
.contact_rightside input {
    margin-top: 15px;
    width: 75%;
    height: 45px;
}
.contact_leftSide textarea {
    margin-top: 15px;
    width: 75%;
    height: 200px;
}
.contact_leftSide button {
    margin-top: 15px;
    width: 35%;
    height: 35px;
    cursor: pointer;
}
.contact_rightSide {
    width: 40%;
    height: 100%;
}
.contact_background {
    display: flex;
    width: 50%;
    height: 50%;
    background-color: #000;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.contact_inputs {
    display: flex;
    background-color: aqua;
    justify-content: space-evenly;
    height: 50%;
    width: 50%;
} 
.contact_inputs:focus {
    outline: none;
}
.contact_input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact_input input {
    height: 40px;
}
.contact_textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_textarea textarea {
    height: 175px;
    margin-bottom: 10px;
}
.visible {
    color: #fff;
    font-size: 2rem;
    margin-top: 25px;
}
.notVisible {
    display: none;
}
.contact_links {
    width: 60%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.contact_linkdin {
    height: 50px;
}
.contact_github {
    height: 50px;
}

@media only screen and (max-width: 1300px) {
    .contact-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .contact-info {
        width: 100%;
        height: 90%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .contact-leftside {
        width: 40%;
        z-index: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact-leftside h2 {
        padding: 10px 0
    }
    .contact-icon {
        height: 35px;
        width: auto;
    }
    .contact-rightside {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 4;
    }
    .contact-name input,
    .contact-email input {
        width: 250px;
        padding: 10px 0;
        padding-left: 5px;
        margin: 12px 8px;
        background: transparent;
        color: #fff;
        outline: none;
        border: none;
        border: 3px solid #fff;
        font-size: 1.15rem;
    }
    .contact-text {
        width: 100%;
        margin: 12px 0;
        display: flex;
        flex-direction: column;
        align-items: center ;
    }
    .textarea {
        width: 68%;
        height: 200px;
        background: transparent;
        border: none;
        outline: none;
        border: 3px solid #fff;
        font-size: 1.15rem;
        padding-top: 5px;
        padding-left: 5px;
        color: #fff;
    }
    .contact-text button {
        width: 125px;
        margin-top: 12px;
        padding: 8px 0;
    }
    ::placeholder {
        color: #fff;
    }
}